body {
  background: rgba(249,237,251,0.63);
  height: auto;
}

[class*="col-"] {
  height: 125px;
  padding-top: 15px;
}

.banner {
  position: fixed;
  width: 100%;
  background-color: #ffc3fa;
  z-index: 1;
}

#site_logo {
  width:50%;
  float: left;
}

#banner_decoration {
  width: 7%;
  position: absolute;
  right: 0; 
  bottom: 0;
}

#banner_decoration img {  vertical-align: bottom; }

nav {  margin-top: 125px;}

.navbar-default {
  background-color: #752572;
  border-color: #9d1e88;
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-family: HelveticaNeue;
}

.navbar-default .navbar-nav > li > a {
  color: #f1ffa3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #9d1e88;
}

.navbar-fixed-bottom {
  background: rgba(255,255,255,0.67);
  border-color: #fff;
  height: 60px;
}

.nav_bar {  float: left;}

.navbar-form {
  float: right;
  margin-top: 15px;
}

.navbar-form input {
  background: #fafafa;
  border: 1px solid #d43ac8;
  border-radius: 5px;
}

.btn {
  color: #a83ecc;
  background: #fafafa;
  border: 1px solid #d43ac8;
  border-radius: 5px;
  font-size: 16px;
}

.btn:focus {
  color: #a83ecc;
  background: #fafafa;
  border: 1px solid #d43ac8;
}

.btn:hover {
  background-color: #fabaf0;
  color: #f1ffa3;
}

#login {  margin-top: 15px; }

.main_content {  margin-top: 230px; }

.tiles {
  width: 48%;
  float: left;
  height: auto;
  position: relative;
  padding-bottom: 15px;
}

.right {  float: right;}

.tiles article {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px rgba(234,67,231,0.5);
}

h2 {
  text-align: center;
  font-family: HelveticaNeue;
  padding-bottom: 10px;
  margin-top: -15px;
}

h2 a {  color: #c22eca;}

h2 a:hover {
  color: #e51e96;
  text-decoration: none;
}

.main_img {  
  padding: 10px;
  width: 100%;
}

#signin {  top:25%;}

.modal-dialog {  width: 25%;}

.modal-body {  margin-bottom: -15px;}

#inputEmail { margin-bottom: 5px;}

#rem {  margin-left: 60%}

footer {
  padding-left: 100px;
  padding-right: 100px;
}

.blank {  height: 65px;}
